.Register {

    &-back-img {
        width: 100%;
        height: 120vh;
        background-image: url("../../images/Rolls.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-div{
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        padding-top: 20vh;
    }

    &-section-div {
        width: 70vh;
        height: 80vh;
        text-align: center;
        background: rgba(255, 255, 255, .1);
        box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
        backdrop-filter: blur(5px);
        border-right: 2px white solid;

        i {
            width: 50px;
            height: 50px;
            color: #000c6bd0;
        }

        h1 {
            font-size: 50px;
            font-weight: 600;
            text-align: center;
            padding-top: 7vh;
        }

        &-inputs {
            text-align: center;
            margin-top: 50px;

            & input {
                width: 250px;
                height: 40px;
                font-size: 22px;
                background: transparent;
                margin-top: 40px;
                border: none;
                outline: none;
                border-bottom: 3px solid #000c6bd0;
            }
        }

        &-btn {
            text-align: center;

            button {
                width: 250px;
                height: 40px;
                background-color: #000c6bd0;
                color: #fff;
                margin-top: 50px;
                border: none;
                border-radius: 5px;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .Register-div {
      display: block;
      width: 60%;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 576px) {
    .Register-div {
      display: block;
      width: 80%;
      margin: auto;
    }
  
    .register-section-div {
      width: 300px;
    }
  }
  