.header_login {
    background-color: #fff;

    .login_imgs{
        width: 100%;
        height: 100vh;
        background: url("../../images/Group 2.png");
        background-repeat: no-repeat;
        text-align: end;
    }
}